.header{
    @media screen and (max-width: 480px){
        position: relative;;
    }

    &__container {
        @media screen and (max-width: 480px){
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 16px;
            padding-top: 16px;
        }

        @media screen and (min-width: 768px){
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
        }

    }

    &__menu{


        @media screen and (max-width: 480px){
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -400px; 
            background-color: $hero-color;
            padding-top: 60px;
            padding-bottom: 60px;
            text-align: center;
        }

    }
    
    // &__navigation{
    //     display: flex;
    //     align-items: center;
    // }
    
    
    &__logo--right {
        @media screen and (min-width: 768px){
            margin-right: 85px;
        }    
    }
    
    
    &__site-nav &__item {
        position: relative;

        @media screen and (min-width: 768px){
            margin-right: 50px;
        }
    }
    
    &__site-nav &__item:last-child{
        
        @media screen and (min-width: 768px){
            margin-right: 0px;
        }
    }
    
    .link.active::after{
        content: '';
        position: absolute;
        
        height: 4px;
        bottom: 0px;
        background-color:$active-color;
        border-radius: 2px;
        @media screen and (max-width: 480px){
            left: 40%;
            width: 20%;
        }

        @media screen and (min-width: 481px){
            margin-top: 8px;
            display: block;
            width: 100%;
        }
    }
    
    &__site-nav .link { 
        color: $secondary-color;  
        letter-spacing: 0.02em;
        transition: color 250ms $main-animation;

        @media screen and (max-width: 480px){
            display: block;
            margin-bottom: 40px;
        }

        @media screen and (min-width: 768px){
            display: block;
        }
    }
    
    &__site-nav .active {
        color: $active-color;
        @media screen and (max-width: 480px){
            padding-bottom: 8px;
        }
    }
    
    
    .link:hover,
    .link:focus {
        color: $active-color;
    }
    
    .link {
        @media screen and (min-width: 481px){
            padding-top: 32px;
            padding-bottom: 32px;
        }
        
    }
    
    
    &__contacts &__item {
        margin-right: 30px;
    }
    
    &__contacts &__item:last-child{
        margin-right: 0px;
    }
    
    &__contacts .link {   
        color: $primary-color;
        text-decoration: none;
        letter-spacing: 0.02em;
        transition: color 250ms $main-animation;
    }
    
    &__icon{
        margin-right: 10px;
        fill: currentColor;
    }
    
}